* { -moz-boz-sizing: border-box; font-family: Avenir, sans-serif; }
body { margin: 0; } 
figure#desk { 
  transform: rotateX(60deg);
  position: relative;
  width: 200%;
  height: 900px;
  background: url(http://demosthenes.info/assets/images/woodgrain.jpg); 
  background-size: cover;
  margin-left: -200px;
  margin-top: -150px;
  transition: 1.2s 2s;
}
div#scatter {
  perspective: 700px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(#6c6769  0%, #0a0a0a 100%); 
}
figure#desk a  {
  position: absolute;
  top: 150px;
  border: 20px solid #ffe;
  box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.3);
  width: 20%;
  font-size: 0;
  background: #000;
}
figure#desk a video { width: 100%; font-size: 0; transition: .6s; }
figure a#estee  {
  transform: translateX(200%) rotateZ(60deg);
  transition: 2s;
}
figure:hover a#estee  { transform: translateX(30%) rotateZ(700deg); 
}
figure a#indre { 
  top: 300px;
  transform: translateX(220%) rotateZ(48deg);
  transition: 2s .4s; 
}
figure#desk:hover a#indre { 
  transform: translateX(100%) rotateZ(360deg);
}
figure#desk:hover {
  transform: rotateX(10deg); 
}
figure#desk a:hover video { opacity: 0.5; }
figure#desk a:before {
  content: "play";
  font-size: 30px;
  position: absolute;
  top: 45%; left: 45%;
  color: #fff;
  opacity: 0;
  transition: .3s;
}
figure#desk a:hover:before { opacity: 1; }
figure#desk a.playing:hover:before {
  content: none; 
  opacity: 0; 
}
figure#desk a.playing video { opacity: 1; }