*{border:0;margin:0;  padding:0;}
body{background:fffff;font-family:Tahoma; margin:0 auto; font-size:12px}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}
::-moz-selection{color:#fff;color:rgba(255,255,255,0.85);background:#03a8b1;}
::selection{color:#fff;color:rgba(255,255,255,0.85);background:#03a8b1;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
h2{font-size:12px}
/*clearboth*/
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clearfix .clear{_height:0px;}
/*gotop*/
.cbbfixed {position: fixed;right: 10px;transition: bottom ease .3s;bottom: -85px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 40px;height: 40px;display: block;background-color:#3b5997;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url(../images/side-icon02.png);}
.cbbfixed .gotop:hover {background-color:#2c2d2e;}

.cbbfixed .cweixin {background: #1cafec;}
.cbbfixed .cweixin div {background: url(../images/erwei.png);width: 194px;height: 199px;position: absolute;left: -194px;top: -115px;display: block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url(../images/side-icon01.png);}

.imgbox .icon1{position:absolute;right:39px; top:0px;display:block; height:40px; width:40px; background:#48c743; float:left; margin-right:1px;}
.imgbox .icon2{position:absolute;right:80px; top:0px; display:block; height:40px; width:40px; background:#17cdc0;}
.wechat{ display:block; height:22px; width:22px; background:url(../images/wethat.png);line-height:40px;margin:9px 0 0 9px}
.pengyou{ display:block; height:22px; width:22px; background:url(../images/pengyouquan.png) no-repeat;line-height:40px;margin:10px 0 0 11px}